@import "../../../mixins.scss";

.sidebar {
    width: 15%;
    .items {
        .item {
        display: flex;
        align-items:center;
        gap: 30px;
        border-radius: 10px;
        // background-color: $youtubeDarkGray;
        padding: 12px;
        margin: 10px;
        cursor: pointer;
            li {
                list-style: none;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}
