@import "../../../mixins.scss";

.mobile-view-items {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    &::-webkit-scrollbar { display: none; }
    .mobile-view-item {
        font-size: 14px;
        padding: 10px 12px;
        border-radius:8px;
        background-color: $youtubeLigthGray;
        color: black;
        white-space: nowrap;
    }
}
.sidebar {
    width: 15%;
    height: 100vh;
    max-height: 100vh;
    scroll-behavior: smooth;
    position: static;
    &.hideSidebar {
        position: absolute;
        left: -100%;
    }
    .items {
        .item {
        display: flex;
        align-items:center;
        gap: 30px;
        border-radius: 10px;
        padding: 12px;
        margin: 10px;
        cursor: pointer;
        // &.active {
        //     background-color: $youtubeLigthGray;
        //     color: black; 
        // }
        &:hover {
            background-color: $youtubeLigthGray;
            color: black;   
        }
            li {
                list-style: none;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}
