$youtubeGray:#F8F8F8;
$youtubeBlue:#5D8BDF;
$youtubeLigthGray:#D8D8D8;
$youtubeDarkGray:#858585;
@mixin displayFlex {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

@mixin sm-screen {
    @media only screen and (min-width:640px) {
      @content;
    }
}

@mixin md-screen {
   @media only screen and (min-width:778px) {
      @content; 
   }
}

@mixin lg {
   @media only screen and (min-width: 1024px) {
       @content;
   }
}

@mixin xl {
   @media only screen and (min-width: 1280px) {
       @content;
   }
}

@mixin xxl {
   @media only screen and (min-width: 1536px) {
       @content;
   }
}