.feedSection {
    width: 85%;
    max-width: 85%;
    display: flex;
    justify-content: center;
    .wrapper {
        width: 90%;
        .container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }
}